<html>
  
   {{#skip}}
   <a href="{{ makeURI (concat 'csep' 590 'c') year quarter }}">Visit</a>
   <a href="{{ makeURI (concat 'cse' 501) year quarter }}">Visit</a>
   <a href="{{ makeURI (concat 'cse' 401) year quarter }}">Visit</a>
   {{/skip}}
   <a href="{{ makeURI (concat 'csep' 504) year quarter }}">Visit</a>
   </body>
</html>